* {
    box-sizing: border-box;
}


.slider {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.slider__seg {
    display: inline-block;
    flex-grow: 1;
    border: 2px solid violet;
    border-radius: 4px;
    height: 1vh;
    min-height: 10px;
}

.slider__seg_curr {
    background-color: crimson;
}

.slider__seg_passed {
    background-color: pink;
}
